.header {
  background-color: rgb(0, 0, 82);
  color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: Roboto, Arial;
  font-size: 16px;
  font-style: solid;
  font-weight: bold;
  z-index: 100;
}

.logo {
  margin-left: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-right: 60px;
}

.logo, .home, .about, .projects, .services, .skills, .contact
{ 
  cursor: pointer;
}

.logo:hover,
.home:hover,
.about:hover,
.projects:hover,
.services:hover,
.skills:hover,
.contact:hover
{
display: flex;
justify-content: center;
margin-left: 15px;
margin-right: 15px;
width: 12%;
height: 50px;
border-radius: 50%;
background-color: cyan;
color: rgb(0, 0, 82);
transition: .8s;
margin-right: 10px;
padding-top: 10px;
box-shadow: 0 0 5px #0ef, 0 0 25px #0ef, 0 0 50px #0ef, 0 0 200px #0ef;
}

.logo:active,
.home:active,
.about:active,
.projects:active,
.services:active,
.skills:active,
.contact:active 
{
  background-color: yellowgreen;
  color: red;
  transition: 0.5s;
}


